{
  "plugins": [
    [
      "inline-replace-variables",
      {
        "__VERSION__": "v<%= pkg.version %>"
      }
    ],
    "@babel/transform-modules-commonjs",
    "@babel/plugin-proposal-optional-chaining"
  ]
}