
body {
	font-family: "Helvetica Neue", Arial, "Sans Serif";
	font-size: 11px;
}

td {
	
	pre {
		
		border: 1px solid #757C66;
		background: linear-gradient(to bottom, #fcfff7 0%,#d5ddb5 100%); /* W3C */

		padding: 10px;
	}

	vertical-align: top;
	border-bottom: 1px solid black;

}

td.Graph div {
	width: 300px;
	height: 300px;
}


tr.title td {
	border-bottom: none;
	padding-top: 30px;
	font-size: 15px;
}
