<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <script src="{{ "js/ace-builds/src-noconflict/ace.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ "js/node-jsgraph/dist/jsgraph.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <!-- jQuery 
    

    should load first -->

    <script>
        var baseUrl = "{{ site.baseurl }}";
    </script>

    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "css/theme.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "css/prism-okaidia.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


</head>