---
layout: page
title: Tutorials
subtitle: Find help by reading tutorials on series, shapes, plugins, legends, ...  Copy the examples in your project and get started within minutes
permalink: /tutorials
---

<p class="larger">
	Reading the documentation can sometimes be problematic, especially since in some cases, some methods have (or are supposed) to be used with others, or in a certain order. In addition, some concepts might be a little hard to grasp, such as the drawing optimizations, the styles, the shapes, the plugins, etc...
</p>


<p class="larger">
	To help you kick-off your own graphs as soon as possible, we wrote a bunch of tutorials which focus of certain aspects of jsGraph. Feel free to copy/paste the code in your own project and play around with it. Practice is the best way to master the very extensive API of jsGraph
</p>
  
{% for tuto in site.data.tutorials %}
	{% assign title = tuto[0] %}
		{% assign list = tuto[1] %}
		<h3>{{ title }}</h3>
		<ul class="list-group">
			{% for tuto2 in list %}
			<li class="list-group-item">
				<a href="{{ tuto2.url | prepend: 'tutorials/' | prepend: site.baseurl }}">
					{{ tuto2.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endfor %}

